* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.header .heading {
  text-align: center;
  margin-top: 50px;
}
.main {
  display: flex;
  gap: 1px;
  width: 64%;
  height: 70vh;
  margin: auto;
  margin-left: 220px;
  margin-top: 30px;
  background-color: white;
  box-shadow: 1px 2px 3px 1px black;
}
.art1 {
  width: 55%;
  background-color: rgb(248, 252, 252);
}
.art1 h3 {
  margin-left: 25px;
  margin-top: 20px;
}
.div1 {
  margin-left: 25px;
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.div1 input {
  padding: 10px;
}
.sub {
  margin-left: 25px;
  margin-top: 12px;
  padding: 10px;
  width: 387px;
}
.div2 {
  margin-left: 25px;
  margin-top: 12px;
}
.div2 textarea {
  padding: 10px;
  width: 387px;
}
.div3 {
  margin-left: 25px;
  margin-top: 10px;
}
.div3 button {
  padding: 10px;
  background-color: rgb(44, 125, 255);
  color: white;
  border-radius: 5px;
  border: none;
}
.art2 {
  width: 45%;
  height: 75vh;
  margin-top: -14px;
  background-color: rgb(44, 125, 255);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.art2 h3 {
  margin-left: 35px;
  margin-top: 34px;
  color: white;
}
.ul1 {
  list-style: none;
  margin-top: 20px;
  margin-left: 35px;
  color: white;
}
.ul1 i {
  width: 35px;
  height: 35px;
  border-radius: 200px;
  text-align: center;
  padding-top: 9px;
  background-color: rgb(105, 147, 255);
  margin-right: 15px;
}
.ul1 .li2 {
  margin-top: 25px;
}
.ul1 .li3 {
  margin-top: 25px;
}
.ul1 .li4 {
  margin-top: 25px;
}
.heading,
.art1,
.art2 {
  font-family: "Arvo", serif;
}
.li1,
.li2,
.li3,
.li4 {
  font-family: "Roboto Slab", serif;
}
